
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            <li>@Html.ActionLink("Send Cookie", "SendCookie")</li>
            <li>@Html.ActionLink("Receive Cookie 1", "ReceiveCookie1")</li>
            <li>@Html.ActionLink("Receive Cookie 2", "ReceiveCookie2")</li>
            <li>@Html.ActionLink("Send Session", "SendSession")</li>
            <li>@Html.ActionLink("Receive Session 1", "ReceiveSession1")</li>
            <li>@Html.ActionLink("Receive Session 2", "ReceiveSession2")</li>
        </ul>
    </div>
</body>
</html>
