@model IEnumerable<Order>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Filter", FormMethod.Get))
{
    @Html.Label("Employees");
    @Html.DropDownList("Employee", new SelectList(@ViewBag.EmployeesFilter));

    @Html.Label("Customers");
    @Html.DropDownList("Customer", new SelectList(@ViewBag.CustomersFilter));

    @Html.Label("OrderDetails");
    @Html.DropDownList("OrderDetail", new SelectList(@ViewBag.OrderDetailsFilter));


    
    <input type = "submit" />
}

<table>
    @foreach (Order item in @ViewBag.Orders)
    {
        <tr>
            <td>@item.OrderDate  &nbsp;&nbsp;-- &nbsp;&nbsp; </td>
            <td>@item.Freight&nbsp;&nbsp;-- &nbsp;&nbsp;</td>
            <td>@item.RequiredDate&nbsp;&nbsp;-- &nbsp;&nbsp;</td>
            <td>@item.ShipAddress&nbsp;&nbsp;-- &nbsp;&nbsp;</td>
            <td>@item.ShipName&nbsp;&nbsp;-- &nbsp;&nbsp;</td>
            <td>@item.ShipPostalCode</td>
        </tr>

    }
</table>
